.university-search-result {
	border-bottom: 1px solid gray;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	width: 395px;
	height: 16px;
	padding: 5px;
	background-color: white;
	cursor: pointer;
}

.university-search-result:hover {
	color: #eee;
	background-color: #607D8B;
}

#university-search-box {
	width: 400px;
	height: 20px;
}
