<!--
<h3>Top Heroes</h3>

<div class="grid grid-pad">
	<a *ngFor="let hero of heroes" class="col-1-4" routerLink="/detail/{{hero.id}}">
		<div class="module hero">
			<h4>{{hero.name}}</h4>
		</div>
	</a>
</div>

<app-hero-search></app-hero-search>

<br />
-->

<h3>Top Universities</h3>

<!-- Karma error:
Error: Template parse errors:
Can't bind to 'routerLink' since it isn't a known property of 'a'.
-->
<!-- <a *ngFor="let university of universities" [routerLink]="['/university', university.id]" class="col-1-4"> -->

<div class="grid grid-pad">
	<a *ngFor="let university of universities" class="col-1-4">
	<!-- <a *ngFor="let university of universities" [routerLink]="['/university', university.id]" class="col-1-4"> -->
		<div class="module university">
			<h4>{{university.name}}</h4>
		</div>
	</a>
</div>

<br />

<!-- Karma errors: "No provider for Router" (NullInjectionError) or cannot determine paraneters for Router.
<university-search></university-search>
-->
